<launch>
  <arg name="debug" default="0"/>
  <node name="AseiaFittingPub"    pkg="aseia_examples" type="fittingPub"    />
  <node name="AseiaDiffFormatPub" pkg="aseia_examples" type="diffFormatPub" />
  <node name="AseiaExampleSub"    pkg="aseia_examples" type="exampleSub"    />
	<include file="$(find aseia_base)/launch/manager.launch" pass_all_args="true"/>
</launch>
