<launch>
  <node name="Introspection"    pkg="rqt_gui"          type="rqt_gui"    />
  <node name="AseiaFittingPub"  pkg="aseia_examples"   type="fittingPub" />
  <node name="AseiaDiffFormatPub"  pkg="aseia_examples"   type="diffFormatPub" />
  <node name="AseiaExampleSub"  pkg="aseia_examples"   type="exampleSub" />
  <node name="AseiaTypeCoupler" pkg="aseia_base"       type="manager"    />
</launch>
