<launch>

<include file="$(find aseia_base)/launch/manager.launch"/>
<include file="$(find vrep)/launch/vrep.launch">
  <arg name="VREPScene" value="$(find aseia_car_sim)/common/scenes/basic.ttt"/>
  <arg name="VREPPath" value="/home/ssj5kc/software/vrep"/>
</include>
<node name="CarSim" pkg="aseia_car_sim" type="simulation"/>

</launch>
