<launch>
  <arg name="index"/>
  <arg name="speed" default="10"/>
  <group ns="cars">
    <group ns="controllers">
      <group ns="lane">
        <param name="type"   value="pid"/>
        <param name="p"      value="2.5"/>
        <param name="i"      value="0"/>
        <param name="d"      value="0.5"/>
        <param name="ref"    value="laneOffset"/>
        <param name="sensor" value="lane"/>
        <param name="act"    value="steer"/>
      </group>
      <group ns="cruise">
        <param name="type" value="assign"/>
        <param name="ref"  value="speed"/>
        <param name="act"  value="speed"/>
      </group>
      <group ns="straight">
        <param name="type" value="assign"/>
        <param name="ref"  value="null"/>
        <param name="act"  value="steer"/>
      </group>
      <group ns="acc">
        <param name="type" value="pid"/>
        <param name="ref"  value="dist"/>
        <param name="p"      value="0.01"/>
        <param name="d"      value="0.1"/>
        <param name="act"  value="speed"/>
        <param name="sensor" value="frontDist"/>
      </group>
      <group ns="maxSpeed">
        <param name="type" value="min"/>
        <param name="ref"  value="speed"/>
        <param name="act"  value="speed"/>
      </group>
      <group ns="minSpeed">
        <param name="type" value="max"/>
        <param name="ref"  value="null"/>
        <param name="act"  value="speed"/>
      </group>
    </group>
    <group ns="sensors">
      <group ns="lane">
        <param name="type"   value="laneSensor"/>
        <param name="handle" value="RoadSensor"/>
        <param name="alpha" value="0.4"/>
      </group>
      <group ns="frontDist">
        <param name="type"   value="visionDistance"/>
        <param name="handle" value="ACCSensor"/>
        <param name="nearClip" value="1.0"/>
        <param name="farClip" value="100.0"/>
      </group>
      <group ns="pose">
        <param name="type"   value="pose"/>
      </group>
    </group>
    <group ns="actuators">
      <group ns="steer">
        <param name="type"   value="float"/>
        <param name="value"   value="0.0f"/>
      </group>
      <group ns="speed">
        <param name="type"   value="float"/>
        <param name="value"  value="0.0f"/>
      </group>
    </group>
    <group ns="references">
      <group ns="laneOffset">
        <param name="type" value="float"/>
        <param name="value" value="0.2"/>
      </group>
      <group ns="speed">
        <param name="type" value="float"/>
        <param name="value" value="$(arg speed)"/>
      </group>
      <group ns="null">
        <param name="type" value="float"/>
        <param name="value" value="0.0"/>
      </group>
      <group ns="dist">
        <param name="type" value="float"/>
        <param name="value" value="50.0"/>
      </group>
    </group>
    <node name="car$(arg index)" pkg="aseia_car_sim" type="car">
      <param name="id"         value="$(eval index+1)"/>
      <param name="index"      value="$(arg index)"/>
      <param name="ctrls"      value="lane, acc, straight, maxSpeed, minSpeed"/>
      <param name="sens"       value="lane, frontDist, pose"/>
      <param name="acts"       value="speed, steer"/>
      <param name="refs"       value="speed, null, dist, laneOffset"/>
    </node>
  </group>
</launch>
