<launch>
  <arg name="network_profile" default="perfect"/>
  <node name="netem_server" type="commTest" pkg="aseia_car_sim" output="screen">
    <param name="role" value="server"/>
    <param name="host" value="localhost:1234"/>
  </node>
  <node name="netem_client" type="commTest" pkg="aseia_car_sim" output="screen" respawn="true" launch-prefix="cgexec -g net_cls:ros/$(arg network_profile)">
    <param name="role" value="client"/>
    <param name="host" value="localhost:1234"/>
    <param name="args" value="-u -b 0"/>
  </node>
</launch>
