<launch>
  <arg name="network_profile" default=""/>
  <arg name="disablePerf" default="false"/>
  <param name="/AseiaManager/nurbSampleSize" value="1000"/>
  <include file="$(find aseia_base)/launch/manager.launch">
    <arg name="transformations" value="aseia_car_sim::UTMToRoad
                                       aseia_car_sim::VirtACC
                                       aseia_car_sim::VirtSpeed
                                       aseia_car_sim::VirtACCKalman"/>
    <arg name="network_profile" default="$(arg network_profile)"/>
  </include>
  <node name="perf" type="perf.sh" pkg="aseia_car_sim" unless="$(arg disablePerf)"/>
</launch>
