<launch>
  <arg name="topics" default="/sensors/4008810/1689678699
                              /sensors/4008810/755307476
                              /sensors/21390/3152911410
                              /sensors/21390/827528676
                              /sensors/7590/239495608
                              /sensors/8970/4123374456
                              /sensors/98670/2047249185
                              /sensors/98670/2048592666" />
  <node name="record" type="record" pkg="rosbag" args="$(arg topics) /sensors/management /rosout"/>
</launch>
