<launch>
  <arg name="scenario"/>
  <arg name="debug" default="false"/>
  <include file="$(find vrep)/launch/vrep.launch">
    <arg name="VREPScene" value="$(find aseia_car_sim)/common/scenes/$(arg scenario).ttt"/>
    <arg name="VREPPath" value="~/software/vrep"/>
  </include>
  <include file="$(find aseia_base)/launch/manager.launch">
    <arg name="transformations" value="aseia_car_sim::UTMToRoad"/>
    <arg name="debug" value="$(arg debug)"/>
  </include>
</launch>
