<launch>
  <arg name="base_speed" default="8"/>
  <arg name="disableBridge" default="false"/>
  <group ns="car0">
  <include file="$(find aseia_car_sim)/launch/car.launch">
    <arg name="index" value="0"/>
    <arg name="speed" value="$(eval base_speed+4)"/>
  </include>
  </group>
  <group ns="car1">
  <include file="$(find aseia_car_sim)/launch/car.launch">
    <arg name="index" value="1"/>
    <arg name="speed" value="$(eval base_speed)"/>
  </include>
  </group>
  <node name="sim" pkg="aseia_car_sim" type="simulation">
    <param name="id" value="1"/>
  </node>
  <node name="bridge" pkg="aseia_car_sim" type="bridge" unless="$(arg disableBridge)"/>
  <node name="road" pkg="aseia_car_sim" type="road">
    <param name="id" value="20"/>
  </node>
</launch>
