<launch>
  <arg name="disableGraphs" default="false"/>
  <arg name="disableRViz" default="false"/>
  <node name="graphs" pkg="rqt_gui" type="rqt_gui" respawn="true" args="--perspective-file $(find aseia_car_sim)/common/rqt/graphs.perspective" if="$(eval not disableGraphs)"/>
  <node name="debug"  pkg="rqt_gui" type="rqt_gui" respawn="true" args="--perspective-file $(find aseia_base)/common/rqt/debug.perspective"/>
  <node name="RViz"   pkg="rviz"    type="rviz"    respawn="true" args="-d $(find aseia_car_sim)/common/rviz/sim.rviz" if="$(eval not disableRViz)"/>
</launch>
